h2 {
	color: #000000;
	font-size: 25px; 
	font-family: Times, "Times New Roman", serif;
	font-weight: 130;
}
h3 {
	color: #4B8C73;
	font-size: 20px; 
	font-family: Times, "Times New Roman", serif;
	font-weight: 180;
}



.main {
	margin-top:50px;
	margin-left:10%;
}
.maintable {
	margin-top:50px;
	margin-left:5%;
}
.text_head{
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
}
.text_main{
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
}
.text_input{
	font-size: 18px; 
	font-family:"Times New Roman", Times, serif;
}
.placeholder_introduction {
	float:left;
	width:80%;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
}
.placeholder_contribution {
	float:left;
	margin-top:100px;
	width:80%;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
}
.placeholder_search {
	float:left;
	margin-top:20px;
	margin-left:30px;
	width:80%;
	font-size:18px;
}
.search_container_main {
	border: none;
	font-size: 18px;
}
a.button{
	text-decoration: none;
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}
button[type=submit] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}
.button_FC{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}
.button{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}
.td{
	height: 30px;
	min-width: 30px;
}
.th{
	height: 50px;
	text-align:left; 
	border-bottom-style: solid; 
	border-width:thin;
}
.input_table{
	width:30px;
}

pre,code{
	display: block;
	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
}
